<header class="bg-blue-600 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Brand Title -->
      <div class="text-white text-lg font-semibold">
        MyApp
      </div>
  
      <!-- Links: Preferences and Logout -->
      <div class="container w-2/5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <a  class="text-white hover:underline" (click)="openPreferencesCreate()">
          Create Preferences
        </a>
        <a  class="text-white hover:underline" (click)="openPreferencesUpdate()">
          Update Preferences
        </a>
        <button (click)="logout()" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
          Logout
        </button>
      </div>
      </div>
    </div>
  </header>
  